Source: kactivitymanagerd
Section: kde
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake (>= 2.8.12),
               debhelper (>= 9),
               extra-cmake-modules,
               kio-dev,
               libboost-dev,
               libkf5config-dev,
               libkf5coreaddons-dev,
               libkf5dbusaddons-dev,
               libkf5globalaccel-dev,
               libkf5i18n-dev,
               libkf5service-dev,
               libkf5windowsystem-dev,
               libkf5xmlgui-dev,
               pkg-kde-tools (>= 0.15.18~),
               qtbase5-dev (>= 5.4)
Standards-Version: 3.9.6
Homepage: https://projects.kde.org/projects/kde/workspace/kactivitymanagerd
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-kde/plasma/kactivitymanagerd.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/plasma/kactivitymanagerd.git

Package: kactivitymanagerd
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: kactivities (<< 5.18.0+git20160222)
Replaces: kactivities (<< 5.18.0+git20160222)
Description: System service to manage user's activities
 System service to manage user's activities, track the usage patterns
 etc.

Package: kactivitymanagerd-dbg
Section: debug
Priority: extra
Architecture: any
Depends: kactivitymanagerd (= ${binary:Version}), ${misc:Depends}
Recommends: qtbase5-dbg
Description: System service to manage user's activities
 System service to manage user's activities, track the usage patterns
 etc.
 .
 This package contains the debugging symbols.
